*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:Inter,Segoe UI,sans-serif;
  background:#0f172a;
  color:white;
  overflow-x:hidden;
}

button{
  font-family:inherit;
}

input{
  font-family:inherit;
}

a{
  text-decoration:none;
  color:inherit;
}